<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKONTABU</title>
    <link rel="icon" href="{{url_for('static', filename='Img/AKONTABU.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <script src="{{url_for('static',filename='JS/java.js')}}"></script>
</head>
<body>

    <!-- Header Section -->
    <header class="header">
        <!-- Logo and Name on the left -->
        
        <div class="logo-container">
            <img src="{{url_for('static', filename='Img/AKONTABU.jpg')}}" alt="Logo">
            <h1>AKONTABU</h1>
            <button>Home</button>
            <button>Product</button>
            <button>About Us</button>
            <button>Contact Us</button>
            <button>Donate</button>
        </div>
        <!-- Menu on the right -->
        <div class="menu-container">
            <input type="text" id="search" placeholder="Search...">
            <button onclick="alert('Sign Up clicked!')">Sign Up</button>
            <button onclick="alert('Sign In clicked!')">Sign In</button>
        </div>
    </header>

</body>
<div class="Home">
    <img src="{{url_for('static', filename='Img/AKONTABU.jpg')}}" alt="Logo" width="300">
    <div class="home_text">
        <h2>Welcome to AKONTABU, Empowering Small & Medium Traders with Smart Business Management Solutions</h2>
        <p>
            AKONTABU is a powerful, easy-to-use business management platform designed specifically for small and medium traders. Whether you're managing inventory, tracking sales, or analyzing business profitability, AKONTABU streamlines the process, so you can focus on growing your business. From generating reports to issuing receipts, AKONTABU offers all the tools you need to succeed. Get started today and take control of your business!
        </p>
    </div>
</div>


</html>