<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AKONTABU - Sign Up / Sign In</title>
  <link rel="icon" href="{{url_for('static', filename='Img/AKONTABU.jpg')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Signup.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <div class="background">
    <h1> AKONTABU </h1>
    <h2 id="form-title">SIGN IN</h2>
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
  </div>
</body>